.form {
  width: 80%;
  margin: 40px auto;
}

.form .card {
  padding: 30px;
  box-shadow: 2px -1px 32px 11px rgba(206, 206, 206, 0.75);
  -webkit-box-shadow: 2px -1px 32px 11px rgba(206, 206, 206, 0.75);
  -moz-box-shadow: 2px -1px 32px 11px rgba(206, 206, 206, 0.75);
}

.form h1 {
  text-align: center;
  font-weight: 600;
}

.form label {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
